<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Tweakr</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class='setup'>
  <mat-card-title>Set up Firebase</mat-card-title>
  <mat-card-subtitle>Paste in your Firebase config to connect Tweakr to your database.</mat-card-subtitle>

  <mat-card-content>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Detailed setup instructions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ol>
        <li>In the Firebase console, Click "Project Overview" and add a new Web app.</li>
        <li>Set the Authorized Domain of the Web App to <code>google.github.io</code>.</li>
        <li>It will provide you with some Javascript code. Copy the object which contains your API values (after <code>var firebaseConfig = </code>).</li>
        <li>Paste that code below.</li>
        <li>It will generate a login link for you, which you can save or share so anyone can control your prototype.</li>
      </ol>
    </mat-expansion-panel>

    <form>
      <mat-form-field floatLabel="always">
        <mat-label>Firebase Config</mat-label>
        <textarea matInput [formControl]="formControl" [errorStateMatcher]="matcher" cols="100" rows="10"
          spellcheck="false" [placeholder]="placeholderJs">

        </textarea>
        <mat-hint>Your API Keys will not be stored</mat-hint>
        <mat-error *ngIf="formControl.hasError('json') && !formControl.hasError('required')">
          Invalid config object JSON
        </mat-error>
        <mat-error *ngIf="formControl.hasError('required')">
          Config is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>

  </mat-card-content>

  <mat-card-actions>
    <div *ngIf="!formControl.invalid">
      <p class="mat-body-strong">Your login link (copy for later):</p>
      <div class="linkHolder mat-caption">
        <a [href]="parseLink()">{{parseLink()}}</a>
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="onClicked()" [disabled]="formControl.invalid">
      Let's get Tweakin'!
    </button>
  </mat-card-actions>
</mat-card>
