<h2 mat-dialog-title></h2>
<mat-dialog-content class="mat-typography">
  <p>{{getMessage()}}</p>

  <mat-form-field>
    <mat-label>Code</mat-label>
    <input matInput type='text' [(ngModel)]="data.code" [formControl]="formControl" [errorStateMatcher]="matcher" />

    <mat-error *ngIf="formControl.hasError('validCode')">
      Invalid code
    </mat-error>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="data.code" [disabled]="formControl.invalid">Start</button>
</mat-dialog-actions>
